html, body {
	height: 100%;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	width: 100%;
	@include flex-column;
	font-family: $font-book;
	font-size: $body-font-size;
	line-height: 1.5;
	background-color: $light;
	color: $dark;
}
