//blocks/elements
.header {
	width: 100%;
	background-color: unset;
}

.header__services {
	background-color: $taupe;
	width: 100%;
	@include flex-column;
	@include center-center;
	padding: 0.75rem;
	font-size: $body-font-smaller;
	span {
		position: relative;
		top: 3px;
	}
	.header__services--bullet {
		display: none;
	}
	@media screen and (min-width: 474px) {
		font-size: unset;
	}
	@media screen and (min-width: 1043px) {
		@include flex-row;
		justify-content: flex-start;
		span {
			line-height: 1;
			display: block;
		}
		.header__services--bullet {
			display: block;
		}
	}
	@media screen and (min-width: 1044px) and (max-width: 1211px) {
		font-size: $body-font-smaller;
	}
}

.header__nav {
	@include flex-column;
	background-color: $green;
	width: 100%;
	//height: fit-content;
	.header__logo {
		@include flex-row;
		@include center-center;
		margin: 1rem;
		//flex-grow: 1;
	}

	@media screen and (min-width: 812px) {
		@include flex-row;
		@include between-center;
		.header__logo {
			order: -1;
		}
	}
}

.header__menu {
	background-color: $dark;
	width: 100%;
	@include flex-row;
	@include between-center;
	padding: 1rem 1.5rem;

	@media screen and (min-width: 812px) {
		background-color: unset;
		@include flex-column;
		@include between-end;
		width: unset;
		margin: 1.5rem 1rem 0 1rem;
		padding: unset;
	}
	@media screen and (max-width: 1023px) and (min-width: 812px) {
	  height: (2.75 * $body-font-size) + ((($logo-height / 100%) * $logo-width) * 0.75);
	}
	@media screen and (min-width: 1024px) {
	  height: (2.75 * $body-font-size) + (($logo-height / 100%) * $logo-width);
	}
}

#menuOverlay {
	position: fixed;
	visibility: hidden;
	left: 0;
	top: 0;
	z-index: -1;
	height: 100vh;
	width: 100%;
	background-color: rgba($dark, 0.7);
	overflow: auto;
	@media screen and (min-width: 812px) {
		display: none;
	}
}

.header__menu__hmm {
	position: fixed;
	visibility: hidden;
	left: 2rem;
	top: 0;
	height: 100vh;
	width: fit-content;
	overflow: scroll;
	transition: max-height 0.4s ease 0s;
	z-index: -1;
	list-style-type: none;
	background-color: $green;
	padding: 1.75rem 0;
	font-size: $contact-font-size;
	.menu--item {
		padding: 0.75rem 2.5rem;
		&:active {
			background-color: $taupe;
		}
		span {
			position: relative;
			top: 3px;
			line-height: 1;
			color: $dark;
			@media screen and (max-width: 871px) and (min-width: 812px) {
			  font-size: $body-font-smaller;
			}
		}
	}
	@media screen and (min-width: 812px) {
		position: relative;
		left: unset;
		//display: block;
		overflow: unset;
		height: unset;
		//transition: unset;
		width: unset;
		z-index: 10;
		padding: 0;
		visibility: visible;
		font-size: unset;
		// @include flex-row;
		// @include between-center;
		// flex-grow: 2;
		.menu--item {
			// a:active {
			// 	font-family: unset;
			// }
			display: inline-block;
			padding: 0.75rem 0.5rem;
			span {
				position: unset;
				top: unset;
			}
		}
		.menu--item:hover {
			background-color: $taupe;
		}
	}
	// @media screen and (min-width: 812px) and (max-width: 1023px) {
	// 	flex-grow: 3;
	// }
}
.header__menu__hmm--toggle {
	@include flex-column;
	align-items: flex-start;
	z-index: 50;
	position: absolute;
	top: 0;
	left: 0;
	background-color: $taupe;
	color: $dark;
}

.header__menu__contact {
	width: 100%;
	@include flex-row;
	@include between-center;
	.menu--phone {
		position: relative;
		top: 3px;
	}
	@media screen and (min-width: 812px) {
		//padding: 0.5rem 0.5rem 0 0;
		@include end-center;
		.menu--icon {
			margin-left: 2rem;
		}
	}
}


@media screen and (min-width: 812px) {
	#header__menu__toggle {
		display: none;
	}
}






//modifiers
.menu--icon, .menu--phone {
	color: $light;
	font-size: $contact-font-size;
	line-height: 1;
	text-decoration: none;
}
