/* handle logo img as a background */
.logo--img {
  width: $logo-width;
  padding-top: $logo-height; /*image aspect ratio*/

	margin: 1rem;
	background: url('/public/img/SW4.png') left top no-repeat;
	background-size: 100% 100%;

	@media screen and (max-width: 1023px) and (min-width: 812px) {
		width: $logo-width * 0.75;
	}
	@media screen and (max-width: 811px) and (min-width: 628px) {
		width: $logo-width * 2;
	}

	@media screen and (max-width: 627px) and (min-width: 428px) {
		width: $logo-width * 1.333;
	}
}

//section header images
.section--img {
	width: 100%;
	padding-top: $section-img-height;
}
#about--img {
	padding-top: $about-img-height;
	background: url('/public/img/jumbo/catfountain.jpg') left top no-repeat;
	background-size: 100% 100%;
}
#services--img {
	background: url('/public/img/jumbo/pinkflowers.jpg') left top no-repeat;
	background-size: 100% 100%;
}
#comments--img {
	margin-top: 2rem;
	background: url('/public/img/jumbo/birds.jpg') left top no-repeat;
	background-size: 100% 100%;
}
#contact--img {
	background: url('/public/img/jumbo/lizard.jpg') left top no-repeat;
	background-size: 100% 100%;
}
//suzi's image
#suzi--img {
	width: 200px;
	padding-top: 200px;
	background: url('/public/img/suzi.jpg') left top no-repeat;
	background-size: 100% 100%;
}

//garden images in garden partial
