/* mixins based on based on https://codepen.io/tonystar/pen/JRLaKw by Anton Staroverov. */

@mixin float-label-container {
	display: block;
	position: relative;
	margin: 1rem;
}

@mixin float-label {
	label {
		position: absolute;
		z-index: 50;
		left: 1rem;
		top: 1rem;
		cursor: text;
		//opacity: 1;
		transition: all .2s;
		@content;
	}
}

@mixin float-label-input {
	&::placeholder {
		opacity: 1;
		transition: all .2s;
	}
	&:placeholder-shown:not(:focus)::placeholder {
			opacity: 0;
	}
}

@mixin float-label-scaled {
	&:placeholder-shown:not(:focus) + * {
			font-size: 150%;
			opacity: .5;
			@content;
	}
}
